h1{
    color:aquamarine;
    background-color: rgb(0, 0, 0);
    float:clear;
}

body {
    background-color: cornsilk;
}
li {
    list-style:none;
    float:left;
    padding:20px 30px 20px 30px;
}